.card {
    text-align: center;

    width: 350px;
    height: 320px;

    margin: 2rem;

    background-color: white;
    box-shadow: 0 0 24px rgba(grey, .1);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    transition: .2s;
    overflow: hidden;

    &:link,
    &:visited {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        box-shadow: 0 0 32px rgba(black, .2);
        transform: translatey(-2px);
    }

    &__img {
        width: 100%;
        height:  80%;

        object-fit: cover;
        filter: brightness(70%);
    }

    &__title {
        color: white;
        font-size: 1.5rem;
        text-shadow: 0 0 12px rgba(black, .5);

        margin: 1rem;

        position: absolute;
        top: 0;
        left:0;
    }

    &__description {
        color: rgba(black, .8);
        font-weight: normal;
        
        height: 30%;
        
        padding: 1rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.external-link {
    color: white;
    text-shadow: 0 0 12px rgba(black, .5);

    margin: 1rem;

    position: absolute;
    top: 0;
    right: 0;
}