.card {
    text-align: center;

    width: 280px;
    height: 400px;

    margin: 2rem;
    padding: 1rem;

    background-color: white;
    box-shadow: 0 0 24px rgba(grey, .1);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: .2s;

    &:hover {
        box-shadow: 0 0 32px rgba(black, .2);
        transform: translatey(-2px);
    }

    &__img {
        width: 100%;
        height:  50%;

        object-fit: cover;
        border-radius: 5px;
        border: 1px solid rgba(black, .1);
    }

    &__title {
        font-size: 1.5rem;
    }

    &__description {
        font-weight: 200;
    }

    &__link:link,
    &__link:visited {
        color: white;
        font-weight: 500;
        text-decoration: none;

        padding: .5rem;

        background-color: $primary;
        border-radius: 5px;

        transition: .2s;

        &:hover {
            background-color: lighten($primary, 4%);
        }
    }
}