.index {
    width: 100%;
    height: 100vh;

    background-color: whitesmoke;
    background-image:linear-gradient(to bottom, $primary 0%, $primary 35%, whitesmoke 35%);

    display: grid;
    grid-template-rows: min-content 1fr;

    main {

        img {
            width: 250px;
            height: 250px;
            
            border-radius: 50%;
            border: 6px solid whitesmoke;

            object-fit: cover;
            object-position: center;

            position: absolute;
            top: 35%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }
}