.main {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 1fr;

  display: relative;

  &__header {
    $size: 60%;

    width: 100%;
    min-height: 250px;
    height: 100%;

    background-color: whitesmoke;
    border-radius: 10px;
    background-image: linear-gradient(
      to bottom,
      $primary 0%,
      $primary $size,
      whitesmoke $size
    );

    position: relative;

    img {
      width: 200px;
      height: 200px;

      @media screen and (max-width: 600px) {
        width: 200px;
        height: 200px;
      }

      border-radius: 50%;
      border: 6px solid whitesmoke;

      object-fit: cover;
      object-position: center;

      position: absolute;
      top: $size;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    &__name {
      color: #242424;

      font-size: 3rem;
      font-weight: bold;

      margin-bottom: 0.4em;
    }

    &__title {
      color: $primary;

      padding: 0.5em 1em;

      background-color: rgba($primary, 0.2);
      border-radius: 5px;
    }
  }

  &__cta:link,
  &__cta:visited {
    color: white;
    font-weight: 600;
    text-decoration: none;

    width: 250px;

    padding: 1rem 4rem;

    background-color: $primary;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;

    svg {
      width: 20px;
    }

    @media screen and (max-width: 600px) {
      top: 90%;
    }

    span {
      margin-right: 0.4rem;
    }

    &:hover {
      box-shadow: inset 0 0 0 100px rgba(black, 0.1);
    }
  }
}

.social {
  color: #242424;

  margin-top: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  a:link,
  a:visited {
    color: inherit;

    margin: 1rem;
    padding: 0.8rem;

    border-radius: 10px;
    border: 1px solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;

    &:hover {
      border-color: rgba(grey, 0.25);
    }
  }
}

.icon {
  width: 30px;
  height: 30px;
}

.projects {
  width: 100%;
  min-height: 100vh;

  //background-image: linear-gradient(165deg, transparent, transparent 50%, $primary 50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
