head
    title Portfolio | Reyes
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no")
    meta(name="author" content="Jorge Reyes")
    meta(name="description" content="Personal portfolio of Jorge Reyes, a Software Engineer Student and Junior Web Front-end.")
    meta(name="keywords" content="portfolio, portafolio, jorge reyes, imreyesjorge")
    meta(property="og:image" content="assets/images/avatar.webp")
    meta(property="og:description" content="Personal portfolio of Jorge Reyes, a Software Engineer Student and Junior Web Front-end.")
    meta(property="og:title" content="Portfolio | Reyes")
    link(rel="shortcut icon" href="assets/images/icon.png")
    link(href="./styles/main.scss" rel="stylesheet")