-
    let projects = [
        {
            name: 'MyBoard',
            desc: 'A clean indie note-taking app! ',
            img: 'assets/images/myboard.webp',
            link: 'https://notes.reyes.cool'
        },
        {
            name: 'Clean Polybar',
            desc: ' Clean and simple polybar',
            img: 'assets/images/poly.webp',
            link: 'https://github.com/imreyesjorge/clean-polybar'
        },
        {
            name: 'Tip Calculator',
            desc: 'A simple tip calculator webapp',
            img: 'assets/images/tip.webp',
            link: 'https://imreyesjorge.github.io/tip-calculator/'
        },
        {
            name: 'HTML y CSS',
            desc: 'Learn HTML and CSS basics. (spanish)',
            img: 'assets/images/html.webp',
            link: 'https://imreyesjorge.github.io/HTMLyCSS/'
        },
        {
            name: 'Minimal Clock',
            desc: 'Minimal Web Clock',
            img: 'assets/images/minimal.webp',
            link: 'https://imreyesjorge.github.io/Minimal-Clock/'
        },
        {
            name: 'Workshop Landing',
            desc: 'Landing page for Workshop Technology',
            img: 'assets/images/workshop-landing.webp',
            link: 'https://workshop-landing.vercel.app/'
        }
    ];

doctype
html(lang="en-US")
    include head.pug
    body
        block content